input[type=checkbox] {
    width: 30px;
    height: 30px;
}

input[type=button] {
    width: 250px;
    height: 50px;
    font-size: 2em;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
    outline: none;
}

.minutes {
    width: 48%;
    font-size: 8em;
    border: 0;
    text-align: right;
}

.seconds {
    width: 48%;
    font-size: 8em;
    border: 0;
    text-align: left;
}

.timeInput input {
    color: transparent;
    text-shadow: 0 0 0 black;
}

.timeInput span {
    font-size: 8em;
}

.timeInput {
    float: right;
}

.avatar {
    font-size: 6em;
}

.avatar {
    text-align: center;
}

.avatar p {
    margin: 0;
    padding: 0;
}

.teamMemberListingContainer {
    text-align: center;
}

.teamMemberListing {
    font-size: 2em;
    margin-left: 30px;
}

.timerButtonsContainer {
    text-align: center;
}
